.CharacterScreen {
    color:white;
    padding-left:min(9%, 210px);
    height:100%;
    overflow:hidden;
}


.char__banner {
    margin-left:-50px;
    width:100%;
    height:40vh;
    object-fit: cover;
    opacity: 0.10;
}

.char__bannerMessage {
    font-size:2.5vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position:absolute;
    left:45%;
    top:12.5%;
}

.char__filterbar {
    left:calc(200px + 1.5%);
    align-items: center;
    justify-content: center;
    position: relative;
    display:flex;
    flex-direction: row;
    width:50vw;
    height:auto;
    padding-left:10vw;
}


.char__elemFilter {
    list-style-type: none;
    display:flex;
    flex-direction: row;
}

.char__elemRow.active{
    border:1px solid pink;
}

.char__elemRow #elemIcon {
    background: black;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    cursor:pointer;
    border: 1px solid rgb(61, 65, 68);
}

.char__elemPng {
    height:auto;
    width: max(2.5vw, 20px);
}

.char__roleFilter {
    list-style-type: none;
    display:inline-flex;
}

.char__roleRow.active {
    border:1px solid pink;
}

.char__roleRow #roleIcon{
    background:black;
    cursor:pointer;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid rgb(61, 65, 68);
    padding-top: 5px;
}

.char__roleImg {
    height: auto;
    width: max(2.5vw, 20px);
}

.char__rarityFilter {
    list-style-type: none;
    display:inline-flex;
    padding-right:40px;
}

.char__rarityRow {
    font-size: 2vw;
}

.char__rarityRow.active {
    border:1px pink solid;
}

.char__rarityRow #rarityIcon {
    background: black;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    cursor:pointer;
    border: 1px solid rgb(61, 65, 68);
}

.char__search{
    display:inline-flex;
    flex-direction: column;
    width:auto;
    height: 5vh;
    background: black;
    color:white;
    border: 1px solid rgb(61, 65, 68);
    font-size: 20px;
    font-style: bold;
    padding-left: 1.2%;
}

.char__card {
    position:relative;
    display:inline-block;
    padding: 10px;
    overflow:hidden;
}

.char__type {
    opacity:0.90;
    padding-top:8px;
    padding-left:5px;
    display: flex;
    position: absolute;
    filter: drop-shadow(black 2px 2px 5px);
    z-index: 1;
}

.char__role {
    display:flex;
    position:absolute;
    padding-top: 5px;
    padding-right: 5px;
    filter: drop-shadow(black 2px 2px 5px);
    right: 10px;
    height:50px;
    width:50px;
    z-index: 1;
}

.charimg__container {
    width: 300px;
    height:168.83px;
    border: 4px solid black;
    border-radius: 10px;
    filter:drop-shadow(gray 2px 2px 2px);
    overflow:hidden;
}

.char__image{
    display:block;
    width: 300px;
    height:168.83px;
    padding: -10px;
    cursor: pointer;
    transition: all .75s ease-in-out;
}

.char__image:hover {
    transform:scale(1.25);
}

@media (max-width: 1100px) {
    .char__banner {
        width:150vw;
        padding-left: 0;
    }

    .char__bannerMessage {
        margin-left: -8%;
        font-size: 1.5rem;
    }

    .char__filterbar {
        padding-left:15%;
        left:5%;
        flex-direction: column;
    }

    .char__elemPng {
        justify-content: center;
        height: auto;
        width: 5vw;
        max-width: 50px;
    }

    .char__roleImg {
        height: auto;
        width: 5.08vw;
        max-width: 50px;
    }

    .char__rarityRow {
        font-size:3vw;
    }
}

@media (max-width: 500px) {
    .char__bannerMessage {
        margin-left:0%;
        left:30%
    }

    .char__elemPng {
        height: auto;
        width: max(7.75vw, 20px);
        max-width: 50px;
    }

    .char__roleImg {
        height: auto;
        width: max(8vw, 20px);
        max-width: 50px;
    }

    .char__rarityRow {
        font-size: 1.8rem;
    }
}