.KiokuScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: calc(0.75rem + 14vw);
}

.kioku__banner {
    position:fixed;
    width:100vw;
}

.kioku__banner .image {
    display: flex;
    height: 100%;
    opacity: 0.10;
    object-fit: cover;
  }

.kioku__header {
    display: flex;
    position:relative;
    white-space: nowrap;
    justify-content: space-evenly;
    width: 80%;
    height:auto;
    font-size: calc(8px + 0.90vw);
    color:white;
    margin-top: 100px;
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.kioku__headerRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.kioku__elem {
    margin-top: 20px;
    margin-right:0;
}

.kioku__elem #png {
    width:4.5vw;
    min-width: 45px;
    max-width:120px;

}

.kioku__role #png {
    width:5.5vw;
    min-width: 60px;
    height:auto;
    max-width:150px;
}

.kioku__info {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.kioku__image {
    position: relative;
}

.kioku__png {
    width:max(41.5vw, 500px);
    height: auto;
    object-fit: cover;
}

.kioku__disc {
    position:relative;  
    color:rgb(161, 161, 161);
    width: fit-content;
    align-self: center;
    font-size: max(12px, 1.25vw);
    text-align:left;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* .kioku__star {
    height:100%;
    width:150px;
}

.kioku__5stars { 
    position:relative;
    transform: rotate(270deg);
    margin-top: -175px;
}

.kioku__4stars {
    top:max(150px, calc(22% - 1vw));
    position:absolute;
    margin-top:calc(10vw - 10.5vh);
    left:calc(125px + 16%);
    margin-left: -8%;
}

.kioku__3stars {
    top:max(150px, calc(24% - 1vw));
    position:absolute;
    margin-top:calc(10vw - 10.5vh);
    left:calc(125px + 16%);
    margin-left: -8%;
} */

.kioku__stats {
    display:inline-flex;
    flex-direction: column; 
    position: relative;
    align-self: center;
    padding-top:5px;
    padding-right:30px;
    background:rgba(95, 94, 93, 0.726);
    border-radius:10px;
    color:rgb(255, 255, 255);
    border: solid, rgba(255, 255, 255, 0.596), 5px;
    list-style-type: none;
    width:4.5vw;
    min-width: 45px;
    height:auto;
    min-height: 200px;
    font-size: max(0.6vw, 8px);
}

.kioku__hp {
    border-bottom: 2px black solid;
}

.kioku__atk {
    border-bottom: 2px black solid;
}

.kioku__def {
    border-bottom: 2px black solid;
}

.kioku__kit {
    position: relative;
    padding:30px;
    font-size: max(2vh, 18px);
    color:white;
    background:rgba(0, 0, 0, 0.596);
    border-radius: 10px;
    border:white solid 2px;
    width: 80%;
    height: auto;
}

.kioku__kitTitle {
    margin-top:-10px;
    padding-bottom:10px;
    font-size: max(2.3vh, 20px);
    margin-bottom: 10px;
    border-bottom: solid gray 1px;
}

#highlightAqua {
    background-image: linear-gradient(rgb(255, 255, 255),rgb(67, 80, 255));
    color:rgba(255, 0, 0, 0);
    background-clip: text;
    z-index: 2;
}

#highlightDark {
    background-image: linear-gradient(rgb(255, 255, 255),rgb(135, 50, 245));
    color:rgba(255, 0, 0, 0);
    background-clip: text;
    z-index: 2;
}

#highlightFlame {
    background-image: linear-gradient(rgb(255, 255, 255),rgb(233, 31, 31));
    color:rgba(255, 0, 0, 0);
    background-clip: text;
    z-index: 2;
}

#highlightForest {
    background-image: linear-gradient(rgb(255, 255, 255),rgb(113, 255, 78));
    color:rgba(255, 0, 0, 0);
    background-clip: text;
    z-index: 2;
}

#highlightLight {
    background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 227, 104));
    color:rgba(255, 0, 0, 0);
    background-clip: text;
    z-index: 2;
}

#highlightVoid {
    background-image: linear-gradient(rgb(255, 255, 255),rgb(114, 116, 115));
    color:rgba(255, 0, 0, 0);
    background-clip: text;
    z-index: 2;
}

@media (max-width: 850px) {
    .kioku__info {
        flex-direction: column;
    }

    .kioku__png {
        width: max(50vw, 350px);
    }

    .kioku__stats {
        position:relative;
        flex-direction: row;
        font-size: 10px;
        width: 50vw;
        min-height: 75px;
    }

    .kioku__disc {
        align-self: center;
    }

    .kioku__hp {
        margin: auto auto;
    }
    
    .kioku__atk {
        margin: auto auto;
    }
    
    .kioku__def {
        margin: auto auto;
    }

    .kioku__spd {
        margin: auto auto;
        border-bottom: 2px black solid;
    }
}

@media (max-width: 400px) {
    .kioku__header {
        width: 100%;
    }

    .kioku__stats {
        font-size: 8px;
    }

    .kioku__kitTitle {
        font-size: 20px;
    }

    .kioku__kit {
        width: 60%;
        font-size: 15px;
    }
}
