.PrivacyPolicyScreen {
    padding-top: 5%;
    padding-left:max(12%, 200px);
    color:white;
    text-align:left;
}

@media (max-width: 1100px) {
    .PrivacyPolicyScreen {
        padding-top: 10vh;
        padding-left: 12.5%;
    }
  }