.TierListScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 80vw;
    margin-left: calc(1rem + 10vw);
    margin-top: 100px;
    overflow: hidden;
}

.tierlist__banner {
    position: absolute;
    width: fit-content;
    margin-left: calc(-1rem - 10vw);
}

.tierlist__banner #img {
    padding-top: 8%;
    width: 99vw;
    height: 100vh;
    object-fit:cover;
    opacity:0.1;
}

.tierlist__message {
    color:white;
    z-index: 4;
    font-size:min(5vw, 50px);
    width: fit-content;
}