.TierListScreen {
    overflow:hidden;
}

.tierlist__banner {
    width:100%;
    position:relative;
}

.tierlist__banner #img {
    width: 99vw;
    height: 100vh;
    object-fit:cover;
    opacity:0.1;
}

.tierlist__message {
    padding-left:max(10%, 175px);
    color:white;
    z-index: 4;
    position:absolute;
    font-size:5vw;
    top:25%;
    width:75%;
    height:100%;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1100px) {
    .tierlist__message {
        padding-left: 20%;
    }
}